body{
    margin: 100px;
    margin-width: 100px;
    border: 50px;
}
.calc {
    display: grid;
    background-color: orangered;
    position: center;
    background-position: center center;
    padding: 5%;
  }
  .button {
    background-color: darkgoldenrod;
    cursor: grab;
    margin: auto;
    width: 100px;
    height: 100px;
  }
 .button:hover {
    background-color: moccasin;
}
  .input {
    position: center;
    background-color: yellow;
    margin: auto;
    width: 300px;
    height: 75px;
  }
  .row1 {
    position: relative;
    margin: auto;
  }
  .row2 {
    position: center;
    margin: auto;
  }
  .row3 {
    position: center;
    margin: auto;
  }
  .row4 {
    margin: auto;
  }
  .row5 {
    margin: auto;
  }